body {
	background-color: #222;
	color: #fff;
	font: 4vmin monospace, sans-serif;
	margin: 0px;
}

canvas {
	image-rendering: pixelated;
	display: block;
	width: 100vw;
	height: 100vh;
}

div {
	position: fixed;
	right: 0px;
	top: 0px;
}

select {
	background-color: #909090;
  font-size: inherit;
  font-weight: bolder;
  padding: 6px;
  border: 0px none;
}

label {
  display: inline-block;
}

output {
  display: inline-block;
}

#controlPanel {
  position: fixed;
  padding: 10px;
	left: 2vmin;
	top: 2vmin;
  max-width: 200px;
  word-wrap: break-word;
  background-color: #c0c0c038;
  font-size: 12px;
  backdrop-filter: blur(10px);
}
