html {
  background-color: #222;
}
body {
  line-height: 0;
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
}
div {
  position: fixed;
  top: 1.9vh;
  right: 0;
  color: #fff;
  font-size: 4vh;
}
