html {
  background-color: #222;
}
body {
  line-height: 0;
  margin: 0;
}
canvas {
  filter: blur(1px);
  width: 100vw;
  height: 100vh;
}
div {
  position: fixed;
  top: 15px;
  right: 0;
  color: #fff;
  font-size: 30px;
}
